# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Random Howtos
subtitle: 
description:
author: Philipp Keller

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://howto.philippkeller.com
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
language: en

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: false # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlightjs: atelier-estuary-light
highlight:
  enable: false

feed:
  type: atom
  path: atom.xml
  content: true

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Deployment
## Docs: https://hexo.io/docs/deployment.html
# deploy:
#   type: git
#   repo: git@github.com:philippkeller/blog-random-howtos.git
#   branch: gh-pages
#   message: hans

deploy:
  type: s3
  bucket: howto.philippkeller.com
  aws_cli_profile: default
  region: eu-west-1

# Theme settings:
theme: hexo-theme-twbootstrap

widgets:
 - search
 - recommended_links

recommended_links_title: You'll also find me on...
recommended_links:
  - url: https://stackoverflow.com/users/119861/hansaplast
    title: Stackoverflow
  - url: https://gist.github.com/philippkeller/
    title: Github
  - url: https://www.linkedin.com/in/phkeller/
    title: LinkedIn

nofollow:
	enable: true
	exclude:
    - backl.io
    - irenehilft.ch
    - weegee.ch
    - typefully.com
    - magicbuddy.chat
    - howto.philippkeller.com
    - climate.stripe.com
    - sidejob.ch
    - backlio.tolt.io

menu:
  Home: /
  Archives: /archives

# Disqus
disqus_shortname: randomhowtos
